<div class="modal-body">     
    <div id="respuesta_actualizar"></div>
    <form id="frm_actualiza_entrenamiento" data-parsley-validate class="form-horizontal form-label-left">        
        <div class="form-group">          
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="estudiante">Estudiante<span class="required">*</span>
            </label>    
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="idestudiante" name="idestudiante" class="form-control" required>
                    <option value="">Seleccione</option>
                    {% for e in estudiante %}
                        <option value="{{e.idestudiante}}">{{ e.codigo }}&nbsp;{{ e.apellidos }}&nbsp;{{ e.nombres }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="identrenamiento" name="identrenamiento">
            </div>                    
        </div>
                                              
        <div class="form-group">          
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desertor">Desertor<span class="required">*</span>
            </label>    
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="desertor" name="desertor" class="form-control" required>
                    <option value="">Seleccione</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                </select>
            </div>                    
        </div>    
                        
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </div>                                      
    </form>
</div> 
